.full-screen {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden !important;
}
.full-screen .fade-overlay {
  position: absolute;
  inset: 0;
  background: white;
  z-index: 2000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
}
.cards {

  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.cards .card {
    padding: 1.125rem 1.25rem !important;
  position: relative;
  width: 340px !important;
  height: 280px !important;
  border-radius: 20px;
  background-color: #f1f1f1;
  /* background: linear-gradient(135deg,white  0%, #dce2f2 100%); */
  box-shadow: 4px 4px 6px #65656530;
  backdrop-filter: blur(10px);
  /* border: 1px solid rgba(4, 108, 199, 0.2); */
  opacity: 0;
  transition: transform 0.3s ease;
}
